body{
    /* background:url('../../assects/images/ChatGPT\ Image\ Apr\ 6\,\ 2026\,\ 07_16_51\ PM.png') no-repeat center center fixed; */
    /* background-color: rgb(183, 184, 185); */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}