body {
  background-image: url("./assets/background-image/abstract-digital-grid-black-background.jpg");
  background-size: auto ;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease-in-out;

}